<script type="text/ng-template" id="dialog1.tmpl.html" ng-controller="orderController">
    <md-dialog aria-label="Add New Customer" style="width: 800px; position: relative;" ng-cloak>
        <form>
            <md-toolbar style="background-color: #F2F7F8;">
                <div class="md-toolbar-tools">
                    <p style="font-size: 20px;font-weight: 600;color: #30373B;">Warehouse Allocation</p>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancelWarehouseSelection()">
                        <md-icon md-svg-src="images/svg/cancel.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <div layout="row">
                        <b style="width: 15%;font-weight:600;">Order No.</b>
                        <input type="text" style="color: #F0592B;font-size: 16px; font-weight: 700; padding-top: 0px;" ng-model="orderNo" ng-readonly="true"></input>
                    </div>
                    <!-- {{wareHousesArray}} -->
                    <br>
                    <div layout="row">
                        <b style="width: 35%; font-weight: 600; font-size: 16px;">Please Select the Warehouse</b>
                    </div>
                    <div class="row main-list">
                        <table class="table table-striped-custom table-condensed table-responsive table-hover">
                            <thead class="warehouse-selection-header">
                                <tr>
                                    <td>Select</td>
                                    <td>WareHouse Name</td>
                                    <td>Available Quantity</td>
                                    <td>Distance From Customers</td>
                                </tr>
                            </thead>
                            <tbody data-ng-repeat="option in wareHousesArray">
                                <tr class="warehouse-selection-row">
                                    <td>
                                        <input type="radio" name="choice" ng-model="radio" value="{{option.tableWarehouseDetails}}" ng-change="onvalue(radio)" />
                                    </td>
                                    <td>{{option.tableWarehouseDetails.tableWarehouseDetailsShortname}}</td>
                                    <td>{{option.availableQuantity}}</td>
                                    <td>{{option.distanceFromCustomer}} Kms</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </md-dialog-content>
            <!-- {{customersData}} -->
            <md-dialog-actions style="background-color: #30373B; min-height: 60px;" layout="row">
                <span flex></span>
                <md-button style="background-color: #727374; color: #ffffff;font-weight: 700;
                text-transform: capitalize !important; min-width:150px;min-height: 40px;
                margin-right: 20px; font-size: 16px;" ng-click="cancelWarehouseSelection()">
                    Cancel
                </md-button>
                <button type="button" class="action-btn" ng-click="selectWareHouseAction(orderId,tableSaleOrderId,wareHouseObject);">Select</button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
