        <div ng-init="onPageInitialize();" class="row orderscreen-channel row-margin-top-x-medium" style="padding-top:20px; margin-top: 10px">
            <div class="col-md-3">
                <span class="font">From Warehouse</span>
                <select ng-model="filterObj.fromWarehouse" required
                        ng-options="option.tableWarehouseDetailsShortname for option in wareHousesData track by option.idtableWarehouseDetailsId"
                        ng-change="callDisabled()" class="orderscreen-dropdown mainDropDownOrder">
                    <option value="" >All</option>
                </select>
            </div>
            <div class="col-md-3">
                <span class="font">To Warehouse</span>
                <select ng-model="filterObj.toWarehouse" required
                        ng-options="option.tableWarehouseDetailsShortname for option in toWarehouses track by option.idtableWarehouseDetailsId"
                        ng-change="callDisabled()" class="orderscreen-dropdown mainDropDownOrder">
                    <option value="" >All</option>
                </select>
            </div>
            <div class="col-md-3">
                <span class="font">ST No.</span>
                <input type="text" class=" main-bottom-border" ng-change="callDisabled()" placeholder="ST No." trim-space ng-model="filterObj.systemOrderNo" style="font-size:14px;margin-left:10px;width:170px;">
            </div>
            <div class="col-md-3">
                <div class="col-md-5" style="margin-top:3px;">
                    <span class="font">Search SKU</span>
                </div>
                <div class="col-md-6" style="padding-left:0px;">
                    <angucomplete-alt id="productsfilter" placeholder="Search product" pause="400" selected-object="searchedProductForFilter" remote-url="{{baseSkuUrl}}" title-field="tableSkuName" description-field="tableSkuDescription" image-field="tableSkuImageUrl" code-field="tableSkuClientSkuCode"
                                      input-class="main-bottom-border font form-control"></angucomplete-alt>
                    <button type="button" style="position: absolute;top: 0px; right: -40px;" class="btn btn-sm truncate-text" ng-click="masterSkuDialog($event);">. . .</button>
                </div>
            </div>
            <div class="col-md-12 row-margin-top-small">
                <!-- {{startDate | date : "yyyy-MM-dd" }}{{endDate | date : "yyyy-MM-dd"}} -->
                <div class="col-md-2 margin-top-7">
                    <span class="font">Date</span>
                </div>
                <div class="col-md-3" style="margin-left: -106px;">
                    <md-datepicker timezoned-date ng-model="filterObj.start1Date" md-min-date="startminDate" md-max-date="startmaxDate"
                                   onkeydown="return false" ng-change="sendStartDate(filterObj.start1Date);callDisabled();"
                                   md-placeholder="Start Date"
                                   style="background-color: inherit;margin-top:3px;"></md-datepicker>
                    <button ng-if="filterObj.start1Date != null || filterObj.start1Date != undefined" title="Deselect Start Date"
                            class="btn dateClear" ng-click="clearStartDate();">
                    </button>

                </div>
                <div class="col-md-3">
                    <md-datepicker timezoned-date ng-model="filterObj.end1Date" md-min-date="endminDate" md-max-date="endmaxDate"
                                   onkeydown="return false" ng-change="sendEndDate(filterObj.end1Date);callDisabled();" md-placeholder="End Date"
                                   style="background-color: inherit;margin-top:3px;"></md-datepicker>
                    <button ng-if="filterObj.end1Date != null || filterObj.end1Date != undefined" title="Deselect End Date"
                            class="btn dateClear" ng-click="clearEndDate()">
                    </button>
                </div>
                <button type="button" class="btn btn-default mybut"   style="margin-left:0px;"
                        ng-click="submitAction()">Search
                </button>
                <button type="button"  title="Clear Applied Filters"  class="btn clearFilter" ng-click="clearAction();">
                </button>
            </div>
        </div>
        <div class="row row-margin-top-small">
            <div class="col-md-10">
                <ul class="nav navbar-nav orderscreen-tabs">
                    <!--<li>
                        <button type="button" class="btn sharp font" ng-style="tabsColor"
                                ng-click="listOfStatesCount('all',1)">
                            All ({{allCount}})
                        </button>
                    </li>-->
                    <li>
                        <button type="button" class="btn sharp font" ng-style="tabsColor1"
                                ng-click="listOfStatesCount('new',1)">
                            New ({{newCount}})
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn sharp" ng-style="tabsColor3"
                                ng-click="listOfStatesCount('process',1)">
                            In Process ({{processCount}})
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn sharp font" ng-style="tabsColor2"
                                ng-click="listOfStatesCount('intransit',1)">In Transit ({{intransitCount}})
                        </button>
                    </li>

                    <!--<li>
                        <button type="button" class="btn sharp" ng-style="tabsColor4"
                                ng-click="listOfStatesCount('grn',1)">
                            GRN ({{grnCount}})
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn sharp" ng-style="tabsColor6"
                                ng-click="listOfStatesCount('cancelled',1)">Cancelled ({{cancelledCount}})
                        </button>
                    </li>-->
                </ul>
            </div>
        </div>

        <div class="row main-list">
            <table class="table table-striped-custom table-condensed table-responsive table-hover">
                <thead class="main-list-header-order">
                <!-- table header -->
                <tr>
                    <td><a href=""
                       ng-click="tableSorting('tableStockXferOrderSystemOrderNo',sortReverse,defaultTab)">
                        ST No.&nbsp;
                        <span ng-if="sortType == 'tableStockXferOrderSystemOrderNo' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'tableStockXferOrderSystemOrderNo' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                <td style="width:80px;"> <a href=""
                       ng-click="tableSorting('tableWarehouseDetailsByTableStockXferOrderFromLocation.tableWarehouseDetailsShortname',sortReverse,defaultTab)">
                        From Warehouse&nbsp;
                        <span ng-if="sortType == 'tableWarehouseDetailsByTableStockXferOrderFromLocation.tableWarehouseDetailsShortname' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'tableWarehouseDetailsByTableStockXferOrderFromLocation.tableWarehouseDetailsShortname' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                <td style="width:80px;"><a href=""
                       ng-click="tableSorting('tableWarehouseDetailsByTableStockXferOrderToLocation.tableWarehouseDetailsShortname',sortReverse,defaultTab)">
                        To Warehouse&nbsp;
                        <span ng-if="sortType == 'tableWarehouseDetailsByTableStockXferOrderToLocation.tableWarehouseDetailsShortname' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'tableWarehouseDetailsByTableStockXferOrderToLocation.tableWarehouseDetailsShortname' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                    <td><a href=""
                           ng-click="tableSorting('tableStockXferOrderQuantityType',sortReverse,defaultTab)">
                        Quantity Type&nbsp;
                        <span ng-if="sortType == 'tableStockXferOrderQuantityType' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'tableStockXferOrderQuantityType' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                <td><a href=""
                       ng-click="tableSorting('tableStockXferOrderDate',sortReverse,defaultTab)">
                        Creation Date&nbsp;
                        <span ng-if="sortType == 'tableStockXferOrderDate' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'tableStockXferOrderDate' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                <td><a href=""
                       ng-click="tableSorting('tableStockXferOrderDropDatetime',sortReverse,defaultTab)">
                        Exp. Delivery Date&nbsp;
                        <span ng-if="sortType == 'tableStockXferOrderDropDatetime' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'tableStockXferOrderDropDatetime' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                <td style="width:50px;"><a href=""
                       ng-click="tableSorting('quantity',sortReverse,defaultTab)">
                        Item Quantity&nbsp;
                        <span ng-if="sortType == 'quantity' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'quantity' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                <td style="width:50px;"><a href=""
                       ng-click="tableSorting('skuvalue',sortReverse,defaultTab)">
                        Total Amount&nbsp;
                        <span ng-if="sortType == 'skuvalue' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'skuvalue' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                    <td style="width:40px;">Remarks</td>

                    <td></td>
                </tr>
                </thead>
                <tbody data-ng-repeat="Data in orderLists" data-ng-switch on="dayDataCollapse[$index]">
                <tr class="clickable-row-order">
                    <td title={{Data.tableStockXferOrderClientOrderNo}}>
                        <!--{{Data}}-->
                        {{Data.tableStockXferOrderSystemOrderNo}}
                    </td>
                    <td>{{Data.tableWarehouseDetailsByTableStockXferOrderFromLocation.tableWarehouseDetailsLongname}}
                    </td>
                    <td>{{Data.tableWarehouseDetailsByTableStockXferOrderToLocation.tableWarehouseDetailsLongname}}</td>
                    <td>{{Data.tableStockXferOrderQuantityType}}</td>
                    <td>
                        {{Data.tableStockXferOrderDate | utcToLocalOrHyphen}}
                    </td>
                    <td>
                        {{Data.tableStockXferOrderDropDatetime | utcToLocalOrHyphen}}
                    </td>
                    <td>{{totalQuantity(Data.tableStockXferOrderSkuses)}}</td>
                    <td>{{totalCostAmount(Data.tableStockXferOrderSkuses) | priceOrHyphen}}</td>
                    <td>
                        <div class="tool-tip">
                            <img src="images/svg/remarks.svg" style="height:20px; width: 20px;" ng-click="openEditRemarkModal(Data,$index)"/>
                            <span class="commonTooltip">
                                <span class="tool-tip-text">
                                        <div class="popover fade left custom-pop-left in" role="tooltip" id="popover743808" style="width:200px; display: block;">
                                            <div class="arrow pop-left" style="left: 50%;"></div>
                                            <h3 class="popover-title">Remarks</h3>
                                            <div class="popover-content" style="word-wrap: break-word;float:left;width:100%;height:60px;overflow-x: hidden;overflow-y:auto;">
                                                <richtext class="text" body-text="Data.tableStockXferOrderRemarksFormatted">
                                                </richtext>
                                            </div>
                                        </div>
                                    </span>
                            </span>
                        </div>
                    </td>
                    <td ng-show="dayDataCollapse == null || dayDataCollapse == undefined || dayDataCollapse == []">
                        <img src="images/svg/expand_icon.svg" height="20"
                             data-ng-click="selectTableRow($index, Data.tableStockXferOrderClientOrderNo);stateTrials(orderLists[$index].tableStockXferOrderSkuses);"/>
                    </td>
                    <td data-ng-switch-when="false"
                        data-ng-click="selectTableRow($index, Data.tableStockXferOrderClientOrderNo);stateTrials(orderLists[$index].tableStockXferOrderSkuses);">
                        <img src="images/svg/expand_icon.svg" height="20"/></td>
                    <td data-ng-switch-when="true"
                        data-ng-click="selectTableRow($index, Data.tableStockXferOrderClientOrderNo);stateTrials(orderLists[$index].tableStockXferOrderSkuses);">
                        <img src="images/svg/collaps_icon.svg" height="20"/></td>
                </tr>
                <tr data-ng-switch-when="true" >
                    <td colspan="11">
                        <div class="full-width" style="background:#fff;" ng-if="orderLevelActionRow(Data.tableStockXferOrderSkuses)">
                            <span class=" sidebar-btn full-width" style="margin-right: 20px;" ng-if="defaultTab != 'cancelled'">
									<button type="button"
                                            ng-if="access.editAccess && getSplitLabelButton() == true"
                                            ng-click="splitOrderBySkuDialog($event, Data.tableStockXferOrderSkuses, Data.idtableStockXferOrderId)"
                                            class="btn btn-default mybutton1">
                                        Split Order
                                    </button>
                                </span>
                        </div>
                    </td>
                </tr>
                <tr data-ng-switch-when="true" style="border: 1px solid #C0C0C0; background-color: #FEFFFF !important;"
                    data-ng-repeat="tableSkuData in orderLists[$index].tableStockXferOrderSkuses">
                    <td colspan="3" style="border-right: 1px solid #ddd !important">
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="padding-left: 35px;">
                                <span style=" padding-top:15px;font-size: 16px;color: #F0592B;font-weight: bold ">
                                         {{Data.tableStockXferOrderClientOrderNo}} ({{$index + 1}} of {{Data.tableStockXferOrderSkuses.length}})
                                    </span>
                            <br>
                            <br> Product:
                                <span style="font-size: 14px;color: #30373B;font-weight: bold">
                                        {{tableSkuData.tableSku.tableSkuClientSkuCode}} {{tableSkuData.tableSku.tableSkuName}}
                                    </span>
                            <br> Qty:
                                <span style="font-size: 14px;color: #30373B;font-weight: bold ">
                                        {{tableSkuData.tableStockXferOrderSkusSkuQuantity}}
                                    </span>

                        </div>

                        <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                                <span class="pull-right">
                            <button type="button"
                                ng-if="access.editAccess && getSplitLabelButtonForQuantity(tableSkuData) == true "
                                ng-click="splitOrderBySkuByQuantityDialog($event, tableSkuData.idtableStockXferOrderSkusId, Data.idtableStockXferOrderId, tableSkuData.tableStockXferOrderSkusSkuQuantity)"
                                class="btn btn-default mybut1 mybutton1">
                                Split Order
                            </button>

                                    <button type="button" ng-click="quickShipDataDialog($event,Data)"
                                            ng-if="access.editAccess && (tableSkuData.tableStockXferOrderSkuStateType.idtableStockXferOrderSkuStateTypeId == 1 || tableSkuData.tableStockXferOrderSkuStateType.idtableStockXferOrderSkuStateTypeId == 2)
                                                     && (Data.tableWarehouseDetailsByTableStockXferOrderFromLocation.tableWarehouseType.idtableWarehouseTypeId == 1 || Data.tableWarehouseDetailsByTableStockXferOrderFromLocation.tableWarehouseType.idtableWarehouseTypeId == 2 || Data.tableWarehouseDetailsByTableStockXferOrderFromLocation.tableWarehouseType.idtableWarehouseTypeId == 4) "
                                            class="btn btn-default mybut1 mybutton1">
                                        Quick ship
                                    </button>
                                    <button type="button" ng-click="printLabel(tableSkuData)"
                                            ng-if="tableSkuData.tableStockXferOrderSkuStateType.idtableStockXferOrderSkuStateTypeId == 1"
                                            class="btn btn-default mybut1 mybutton1">
                                        Print Label
                                    </button>
                                </span>
                        </div>
                    </td>

                    <td colspan="2">
                        <ul ng-if="trialsLength[$index]>= 4" class="progress-indicator nocenter stacked"
                            style="list-style: none;">
                            <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                            style="width: 20px;height: 20px;"/>

                            <label class="TrailElementOne"
                                    style="padding-top: 20px;font-weight: bold;">{{fullTrialsArray[$index][0]}}</label></span>
                            </li>
                            <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                            style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[$index][1]}}</label></span>
                            </li>
                            <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                            style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px">{{fullTrialsArray[$index][2]}}</label></span>
                            </li>
                            <li class="completed"><span class="bubble1"><img src="images/svg/current_icon.svg"
                                                                             style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px;color:black">{{fullTrialsArray[$index][3]}}</label></span>
                            </li>
                        </ul>
                        <ul ng-if="trialsLength[$index] == 1" class="progress-indicator nocenter stacked"
                            style="list-style: none;">
                            <li><span><img src="images/svg/current_icon.svg" style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[$index][0]}}</label></span>
                            </li>
                        </ul>
                        <ul ng-if="trialsLength[$index] == 2" class="progress-indicator nocenter stacked"
                            style="list-style: none;">
                            <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                            style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px">{{fullTrialsArray[$index][0]}}</label></span>
                            </li>
                            <li><span><img src="images/svg/current_icon.svg" style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[$index][1]}}</label></span>
                            </li>
                        </ul>
                        <ul ng-if="trialsLength[$index] == 3" class="progress-indicator nocenter stacked"
                            style="list-style: none;">
                            <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                            style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px">{{fullTrialsArray[$index][0]}}</label></span>
                            </li>
                            <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                            style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px">{{fullTrialsArray[$index][1]}}</label></span>
                            </li>
                            <li><span><img src="images/svg/current_icon.svg" style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[$index][2]}}</label></span>
                            </li>
                        </ul>
                    </td>

                    <td ng-if="trialsLength[$index]>=4">
                        <!-- Hold WareHouse Not Allocated -->
                        <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[$index][3]==7"
                             style="padding-top:3px">

                        </div>
                        <!-- Hold Fraud Validation Failed -->
                        <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[$index][3]==5"
                             style="padding-top:3px">

                        </div>
                        <!-- Hold Stock Unavailable -->
                        <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[$index][3]==10"
                             style="padding-top:3px">

                        </div>
                        <!-- Hold Packing Material Unavailable -->
                        <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[$index][3]==12"
                             style="padding-top:3px">

                        </div>
                        <!-- Hold Awaiting Shipping Details -->
                        <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[$index][3]==14"
                             style="padding-top:3px">
                                <span style="padding-left: 0px">

                              </span>
                        </div>
                        <!-- Hold ReturnWarehouseNotAllocated Details -->
                        <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[$index][3]==21"
                             style="padding-top:3px">
                                <span style="padding-left: 0px">

                              </span>
                        </div>
                        <!-- Hold AwaitingReturnShippingDetails Details -->
                        <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[$index][3]==23"
                             style="padding-top:3px">
                                <span style="padding-left: 0px">

                              </span>
                        </div>
                    </td>
                    <td colspan="5">
                    <span class="pull-right infoimgBox"
                          ng-click="openInfoBox($event,tableSkuData.tableStockXferOrderSkuStateTrails)"></span>

                    </td>
                </tr>
                </tbody>
            </table>

            <div class="full-width">
                <div class="col-md-6" ng-show="defaultTab == 'all'">
                    <p class="showingOrderLabel" ng-show="orderSize<allCount">Showing Orders {{start + 1}} to
                        {{orderSize}}
                        of {{allCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=allCount && allCount!=0">Showing Orders {{start +
                        1}}
                        to {{allCount}} of {{allCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="allCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-md-6" ng-show="defaultTab == 'new'">
                    <p class="showingOrderLabel" ng-show="orderSize<newCount">Showing Orders {{start + 1}} to
                        {{orderSize}}
                        of {{newCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=newCount && newCount!=0">Showing Orders {{start +
                        1}}
                        to {{newCount}} of {{newCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="newCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-md-6" ng-show="defaultTab == 'process'">
                    <p class="showingOrderLabel" ng-show="orderSize<processCount">Showing Orders {{start + 1}} to
                        {{orderSize}} of {{processCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=processCount && processCount!=0">Showing Orders
                        {{start
                        + 1}} to {{processCount}} of {{processCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="processCount==0">No Orders Available
                    </p>
                </div>

                <div class="col-md-6" ng-show="defaultTab == 'grn'">
                    <p class="showingOrderLabel" ng-show="orderSize<grnCount">Showing Orders {{start + 1}} to
                        {{orderSize}} of {{grnCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=grnCount && grnCount!=0">Showing Orders
                        {{start +
                        1}} to {{grnCount}} of {{grnCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="grnCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-md-6" ng-show="defaultTab == 'intransit'">
                    <p class="showingOrderLabel" ng-show="orderSize<intransitCount">Showing Orders {{start + 1}} to
                        {{orderSize}}
                        of {{intransitCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=intransitCount && intransitCount!=0">Showing Orders {{start +
                        1}}
                        to {{intransitCount}} of {{intransitCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="intransitCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-md-6" ng-show="defaultTab == 'cancelled'">
                    <p class="showingOrderLabel" ng-show="orderSize<cancelledCount">Showing Orders {{start + 1}} to
                        {{orderSize}} of {{cancelledCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=cancelledCount && cancelledCount!=0">Showing Orders
                        {{start + 1}} to {{cancelledCount}} of {{cancelledCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="cancelledCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-md-6" ng-show="defaultTab == 'draft'">
                    <p class="showingOrderLabel" ng-show="orderSize<DraftCount">Showing Orders {{start + 1}} to
                        {{orderSize}} of {{DraftCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=DraftCount && DraftCount!=0">Showing Orders
                        {{start + 1}} to {{DraftCount}} of {{DraftCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="DraftCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                    <ul ng-if="vmPager.pages.length" class="pagination">
                        <li ng-show="vmPager.currentPage == 1" ng-class="{disabled:vmPager.currentPage == 1}">
                            <a>&lt;&lt; First</a>
                        </li>
                        <li ng-show="vmPager.currentPage > 1" ng-class="{disabled:vmPager.currentPage == 1}">
                            <a ng-click="listOfStatesCount(defaultTab,1)">&lt;&lt; First</a>
                        </li>
                        <li ng-show="vmPager.currentPage == 1" ng-class="{disabled:vmPager.currentPage == 1}">
                            <a>&lt; Previous</a>
                        </li>
                        <li ng-show="vmPager.currentPage > 1" ng-class="{enabled:vmPager.currentPage > 1}">
                            <a ng-click="listOfStatesCount(defaultTab,vmPager.currentPage - 1)">&lt; Previous</a>
                        </li>
                        <li ng-repeat="page in vmPager.pages" ng-class="{active:vmPager.currentPage == page}">
                            <a ng-click="listOfStatesCount(defaultTab,page)">{{page}}</a>
                        </li>
                        <li ng-show="vmPager.currentPage < vmPager.totalPages"
                            ng-class="{enabled:vmPager.currentPage > vmPager.totalPages}">
                            <a ng-click="listOfStatesCount(defaultTab,vmPager.currentPage + 1)">Next &gt;</a>
                        </li>
                        <li ng-show="vmPager.currentPage == vmPager.totalPages"
                            ng-class="{disabled:vmPager.currentPage == vmPager.totalPages}">
                            <a>Next &gt;</a>
                        </li>
                        <li ng-show="vmPager.currentPage < vmPager.totalPages"
                            ng-class="{disabled:vmPager.currentPage == vmPager.totalPages}">
                            <a ng-click="listOfStatesCount(defaultTab,vmPager.totalPages)">Last &gt;&gt;</a>
                        </li>
                        <li ng-show="vmPager.currentPage == vmPager.totalPages"
                            ng-class="{disabled:vmPager.currentPage == vmPager.totalPages}">
                            <a>Last &gt;&gt;</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="modal fade" id="AddGrn" role="dialog" aria-labelledby="myModalLabelleded" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <form ng-submit="QuickGRN.$valid && SubmitGrn(SkuDetails.warehouseDetails)" novalidate
                              name="QuickGRN">
                            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;"
                                 height="100px">
                                <button type="button" class="close" data-dismiss="modal" ng-click="cancelSingleOrder()">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <p class="dialog-heading-p" id="myModalLabelleded">Add to GRN Order</p>

                            </div>
                            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px">
                                <div class="md-dialog-content">


                                    <div class="full-width">
                                        <div class="col-md-12">
                                            <table id="productTable"
                                                   class="table boldtable table-responsive table-bordered table-hover">
                                                <thead class="data-grid-header">
                                                <tr>
                                                    <th style="width:90px;" class="text-center">&nbsp;&nbsp;Batch No.
                                                    </th>
                                                    <th class="text-center">&nbsp;&nbsp;Vendor</th>
                                                    <th class="text-center">&nbsp;&nbsp;MFG. Date</th>
                                                    <th class="text-center">&nbsp;&nbsp;Expiry Date</th>
                                                    <th class="text-center">&nbsp;&nbsp;MRP</th>
                                                    <th class="text-center">&nbsp;&nbsp;MSP</th>
                                                    <th class="text-center">&nbsp;&nbsp;Expected Quantity</th>
                                                    <th class="text-center">&nbsp;&nbsp; Actual Quantity
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody class="data-grid-data">
                                                <tr ng-repeat="product in SkuDetails.warehouseDetails">
                                                    <td>
                                                        <span style="color: orangered;">{{product.tableSkuInventory.tableSkuInventoryBatchNo}}</span>
                                                    </td>
                                                    <td>
                                                        {{product.tableSkuInventory.tableVendor.tableVendorName}}
                                                    </td>
                                                    <td>
                                                        {{product.tableSkuInventory.tableSkuInventoryMfgDate}}
                                                    </td>
                                                    <td>
                                                        {{product.tableSkuInventory.tableSkuInventoryExpiryDate}}
                                                    </td>
                                                    <td>
                                                        {{product.tableSkuInventory.tableSkuInventoryMaxRetailPrice | priceOrHyphen}}
                                                    </td>
                                                    <td>
                                                        {{product.tableSkuInventory.tableSkuInventoryMinSalePrice | priceOrHyphen}}
                                                    </td>
                                                    <td class="text-center">
                                                        {{product.tableSkuInventory.tableSkuInventoryExpectedInwardCount}}
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control"
                                                               only-integer
                                                               prevent-typing-greater
                                                               max = "999999999"
                                                               style="border:1px solid gray;text-align: right"
                                                               ng-model="product.tableSkuInventory.tableSkuInventoryActualInwardCount">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">
                                <button type="button" class="cancel-btn" data-dismiss="modal">Cancel
                                </button>
                                <button type="submit" class="action-btn" ng-click="" ng-if="access.editAccess">Submit</button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>

        </div>

        <div ng-include src="'stockTransfer/editRemarksModal.html'"></div>
        <div ng-include src="'wops/OperationDialogBox/stockTransferSplitBySku.html'"></div>
        <div ng-include src="'wops/OperationDialogBox/stockTransferSplitByQuantity.html'"></div>


<style>
    .mainDropDownOrder {
        width: 110px;
    }
    .sidebar-btn button{
        margin-bottom:10px;
    }
</style>
