
    <link href="settings/templates/templates.css" rel="stylesheet">
    <div ng-if="currentTab=='invoice'" ng-include src="'settings/templates/templateLists/invoiceTemplateList.html'"></div>
    <div ng-if="currentTab=='packing'" ng-include src="'settings/templates/templateLists/packingTemplateList.html'"></div>
    <div ng-if="currentTab=='email'" ng-include src="'settings/templates/templateLists/emailTemplateList.html'"></div>
    <div ng-if="currentTab=='shipping'" ng-include src="'settings/templates/templateLists/shippingTemplateList.html'"></div>
    <div ng-if="currentTab=='sticker'" ng-include src="'settings/templates/templateLists/stickerTemplateList.html'"></div>
    <div ng-if="currentTab=='manifest'" ng-include src="'settings/templates/templateLists/manifestTemplateList.html'"></div>
