<link href="wops/inbound/inbound.css" rel="stylesheet">

        <div ng-init="onPageInitialize();" class="row orderscreen-channel" style="margin-top: 10px;">
            <div class="col-md-3">
                <span class="font">Destination Warehouse</span>
                <select ng-model="$parent.wareHouseId" ng-change="callDisabled();" style="width:113px;" class="orderscreen-dropdown mainDropDownOrder">
                    <option value="">
                        All
                    </option>
                    <option ng-repeat="option in wareHousesData"
                            value="{{option}}">
                        {{option.tableWarehouseDetailsShortname}}
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <span class="font">PO No.</span>
                <input type="text" class=" main-bottom-border" ng-change="callDisabled();" placeholder="PO No." trim-space
                       ng-model="$parent.systemOrderNo" style="margin-left:10px;width:170px;margin-top: 3px;">
            </div>
            <div class="col-md-3">
                <div class="col-md-6" style="margin-top:3px; left:-40px;">
                    <span class="font">Search SKU</span>
                </div>
                <div class="col-md-6" style="padding-left:0px; left:-80px;">
                    <angucomplete-alt id="productsfilter" placeholder="Search product" pause="400" selected-object="searchedProductForFilter" remote-url="{{baseSkuUrl}}" title-field="tableSkuName" description-field="tableSkuDescription" image-field="tableSkuImageUrl" code-field="tableSkuClientSkuCode"
                                      input-class="main-bottom-border font form-control"></angucomplete-alt>
                <button type="button" style="position: absolute;top: 0px; right: -40px;" class="btn btn-sm truncate-text" ng-click="masterSkuDialog($event, false);">. . .</button>
				</div>
				
				
				
            </div>
            <div class="col-md-3">
                <div class="col-md-6" style="margin-top:3px; left:-60px;">
                    <span class="font">Search Vendors</span>
                </div>
                <div class="col-md-6" style="padding-left:0px; left:-60px;">
                    <angucomplete-alt id="vendorsfilter" placeholder="Search Vendor" pause="400" style="margin-top:-2px;"
                                      selected-object="searchedVendor" remote-url="{{baseCustomerUrl}}"
                                      title-field="tableVendorClientVendorCode"
                                      description-field="tableVendorName"
                                      input-class="form-control main-bottom-border"></angucomplete-alt>
                <button type="button" style="position: absolute;top: 0px; right: -40px;" class="btn btn-sm truncate-text" ng-click="masterVendorDialog($event, false);">. . .</button>
				
				</div>
				
				
            </div>
            <div class="col-md-12 row-margin-top-small">
                <!-- {{startDate | date : "yyyy-MM-dd" }}{{endDate | date : "yyyy-MM-dd"}} -->
                <div class="col-md-2 margin-top-7">
                    <span class="font">Date</span>
                </div>
                <div class="col-md-3" style="margin-left: -106px;">
                    <md-datepicker timezoned-date ng-model="$parent.start1Date"  md-min-date="startminDate" md-max-date="startmaxDate"
                                   onkeydown="return false" ng-change="sendStartDate(start1Date);callDisabled();"
                                   md-placeholder="Start Date"
                                   style="background-color: inherit;margin-top:3px;"></md-datepicker>
                    <button ng-if="start1Date != null || start1Date != undefined" title="Deselect Start Date"
                            class="btn dateClear" ng-click="clearStartDate();">
                    </button>

                </div>
                <div class="col-md-3">
                    <md-datepicker timezoned-date ng-model="$parent.end1Date" md-min-date="endminDate" md-max-date="endmaxDate"
                                   onkeydown="return false" ng-change="sendEndDate(end1Date);callDisabled();" md-placeholder="End Date"
                                   style="background-color: inherit;margin-top:3px;"></md-datepicker>
                    <button ng-if="end1Date != null || end1Date != undefined" title="Deselect End Date"
                            class="btn dateClear" ng-click="clearEndDate()">
                    </button>
                </div>
                <button type="button"  class="btn btn-default mybut" style="margin-left:0px;"
                        ng-click="submitAction(wareHouseId,skuId,start1Date,end1Date,vendorId,systemOrderNo)">Search
                </button>

                <button type="button"  style="margin-top:6px;" title="Clear Applied Filters" class="btn clearFilter" ng-click="clearAction();">
                </button>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-10">
                <ul class="nav navbar-nav orderscreen-tabs">
                    <!--<li>
                        <button type="button" class="btn sharp font" ng-style="tabsColor"
                                ng-click="listOfStatesCount('all',1)">
                            All ({{allCount}})
                        </button>
                    </li>-->
                    <li>
                        <button type="button" class="btn sharp font" ng-style="tabsColor1"
                                ng-click="listOfStatesCount('new',1)">New ({{newCount}})
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn sharp font" ng-style="tabsColor2"
                                ng-click="listOfStatesCount('intransit',1)">In Transit ({{holdCount}})
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn sharp" ng-style="tabsColor3"
                                ng-click="listOfStatesCount('inprocess',1)">In Process ({{processCount}})
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn sharp" ng-style="tabsColor4"
                                ng-click="listOfStatesCount('grn',1)">GRN ({{returnCount}})
                        </button>
                    </li>
                    <!--<li>-->
                    <!--<button type="button" class="btn sharp" ng-style="tabsColor5" ng-click="listOfOrders('hold',0)">On Hold ({{holdCount}})</button></li>-->
                    <!--<li>
                        <button type="button" class="btn sharp" ng-style="tabsColor6"
                                ng-click="listOfOrders('cancelled',0)">Cancelled ({{cancelledCount}})
                        </button>
                    </li>-->
                    <!--<li>-->
                    <!--<button type="button" class="btn sharp" ng-style="tabsColor7"-->
                    <!--ng-click="listOfOrders('delivered',0)">Delivered ({{deliveredCount}})-->
                    <!--</button>-->
                    <!--</li>-->
                </ul>
            </div>

        </div>

        <div class="row main-list">
            <table class="table table-striped-custom table-condensed table-responsive table-hover">
                <thead class="main-list-header-order">
                <!-- table header -->
                <tr>
                    <td style="width:11%;"><a href=""
                       ng-click="tableSorting('tablePurchaseOrderSystemOrderNo',sortReverse,defaultTab)">
                        PO No.&nbsp;
                        <span ng-if="sortType == 'tablePurchaseOrderSystemOrderNo' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'tablePurchaseOrderSystemOrderNo' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                <td style="width:11%;"><a href=""
                       ng-click="tableSorting('tablePurchaseOrderDate',sortReverse,defaultTab)">
                        Creation Date&nbsp;
                        <span ng-if="sortType == 'tablePurchaseOrderDate' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'tablePurchaseOrderDate' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                <td style="width:12%;"> <a href=""
                       ng-click="tableSorting('tablePurchaseOrderDropDate',sortReverse,defaultTab)">
                        Exp. Delivery&nbsp;
                        <span ng-if="sortType == 'tablePurchaseOrderDropDate' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'tablePurchaseOrderDropDate' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                <td style="width:11%;"><a href=""
                       ng-click="tableSorting('quantity',sortReverse,defaultTab)">
                        Item Quantity&nbsp;
                        <span ng-if="sortType == 'quantity' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'quantity' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                    <td style="width:11%;"><a href=""
                       ng-click="tableSorting('tableVendor.tableVendorName',sortReverse,defaultTab)">
                        Vendor Name&nbsp;
                        <span ng-if="sortType == 'tableVendor.tableVendorName' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'tableVendor.tableVendorName' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                    <td style="width:50px;">Remarks</td>
                    <td style="width:11%;"><a href=""
                       ng-click="tableSorting('charges',sortReverse,defaultTab)">
                        Total Amount&nbsp;
                        <span ng-if="sortType == 'charges' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'charges' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                    <td style="width:12%;"><a href=""
                       ng-click="tableSorting('tableWarehouseDetails.tableWarehouseDetailsLongname',sortReverse,defaultTab)">
                        Warehouse&nbsp;
                        <span ng-if="sortType == 'tableWarehouseDetails.tableWarehouseDetailsLongname' && !sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-if="sortType == 'tableWarehouseDetails.tableWarehouseDetailsLongname' && sortReverse"
                              class="fa fa-caret-up"></span>
                    </a></td>
                    <td style="width:10%;"></td>
                    <td style="width:10%;"></td>
                </tr>
                </thead>
                <tbody data-ng-repeat="poData in orderLists" data-ng-switch on="dayDataCollapse[$index]">
                <tr class="clickable-row-order">
                    <td title={{poData.tablePurchaseOrderClientOrderNo}}>{{poData.tablePurchaseOrderSystemOrderNo}}</td>
                    <td>
                        {{poData.tablePurchaseOrderDate | utcToLocalOrHyphen}}
                    </td>
                    <td>
                        {{poData.tablePurchaseOrderDropDate | utcToLocalOrHyphen}}
                    </td>
                    <td>{{totalQuantity(poData.tablePurchaseOrderSkuses)}}</td>
                    <td>{{poData.tableVendor.tableVendorName}}</td>
                    <td>
                        <div class="tool-tip">
                            <img src="images/svg/remarks.svg" style="height:20px; width: 20px;" ng-click="openEditRemarkModal(poData,$index);"/>
                                <span class="commonTooltip">
                                    <span class="tool-tip-text">
                                        <div class="popover fade left custom-pop-left in" role="tooltip" id="popover743808" style="width:200px; display: block;">
                                            <div class="arrow pop-left" style="left: 50%;"></div>
                                            <h3 class="popover-title">Remarks</h3>
                                            <div class="popover-content" style="word-wrap: break-word;float:left;width:100%;height:60px;overflow-x: hidden;overflow-y:auto;">
                                                <richtext class="text" body-text="poData.tablePurchaseOrderRemarksFormatted">
                                                </richtext>
                                            </div>
                                        </div>
                                    </span>
                                </span>
                        </div>
                    </td>
                    <td>{{ totalCostAmount(poData.tablePurchaseOrderSkuses)  | priceOrHyphen}}</td>
                    <td>{{poData.tableWarehouseDetails.tableWarehouseDetailsLongname}}</td>
                    <td>

                        &nbsp;

                    </td>
                    <td ng-show="dayDataCollapse == null || dayDataCollapse == undefined || dayDataCollapse == []">
                        <img src="images/svg/expand_icon.svg" height="20"
                             data-ng-click="selectTableRow($index, poData.tablePurchaseOrderClientOrderNo);stateTrials(orderLists[$index].tablePurchaseOrderSkuses);"/>
                    </td>
                    <td data-ng-switch-when="false"
                        data-ng-click="selectTableRow($index, poData.tablePurchaseOrderClientOrderNo);stateTrials(orderLists[$index].tablePurchaseOrderSkuses);">
                        <img src="images/svg/expand_icon.svg" height="20"/></td>
                    <td data-ng-switch-when="true"
                        data-ng-click="selectTableRow($index, poData.tablePurchaseOrderClientOrderNo);stateTrials(orderLists[$index].tablePurchaseOrderSkuses);">
                        <img src="images/svg/collaps_icon.svg" height="20"/></td>
                </tr>
                <tr data-ng-switch-when="true">
                    <td colspan="11">
                        <div class="full-width" style="background:#fff;padding: 10px 10px 5px 10px;" ng-if="access.editAccess">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <span class="sidebar-btn full-width" style="margin-right: 20px;" >
									<button type="button" ng-if="access.editAccess && showinvoice==true"
                                            ng-click="OpenAddInvoiceDialog(poData)"
                                            class="pull-right btn btn-default mybut1 mybutton1">
                                        Add Invoice
                                    </button>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr data-ng-switch-when="true" style="border: 1px solid #C0C0C0; background-color: #FEFFFF !important;"
                    data-ng-repeat="tableSkuData in orderLists[$index].tablePurchaseOrderSkuses">
                    <td colspan="4" style="border-right: 1px solid #ddd !important">
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="padding-left: 35px;">
                                <span style=" padding-top:15px;font-size: 16px;color: #F0592B;font-weight: bold ">
                                         {{poData.tablePurchaseOrderClientOrderNo}} ({{$index + 1}} of {{poData.tablePurchaseOrderSkuses.length}})
                                    </span>
                            <br>
                            <br> Product:
                                <span style="font-size: 14px;color: #30373B;font-weight: bold">
                                        {{tableSkuData.tableSku.tableSkuClientSkuCode}} {{tableSkuData.tableSku.tableSkuName}}
                                    </span>
                            <br> Qty:
                                <span style="font-size: 14px;color: #30373B;font-weight: bold ">
                                        {{tableSkuData.tablePurchaseOrderSkusSkuQuantity}}
                                    </span>
                            <br> Cost Per Product:
                                <span style="font-size: 14px;color: #30373B;font-weight: bold ">
                                        Rs {{ getTotal(tableSkuData) }}
                                    </span>
                            <br> Total Cost:
                                <span style="font-size: 14px;color: #30373B;font-weight: bold ">
                                        Rs {{ totalCostPerProduct(tableSkuData) }}
                                    </span>

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            <span class="pull-right">

                                    <button type="button" class="btn btn-default  mg-btm mybutton1" ng-if="access.editAccess && (tableSkuData.tablePurchaseOrderSkuStateType.idtablePurchaseOrderSkuStateTypeId == 8 || tableSkuData.tablePurchaseOrderSkuStateType.idtablePurchaseOrderSkuStateTypeId == 7 || tableSkuData.tablePurchaseOrderSkuStateType.idtablePurchaseOrderSkuStateTypeId == 6)"
                                            ng-click ="showGRNoperation($event,tableSkuData,poData)"> <!-- &&(poData.tableWarehouseDetails.tableWarehouseType.idtableWarehouseTypeId == 2) -->
                                        GRN
                                    </button>

                                    <a href="javascript:void(0);" class="btn btn-default  mg-btm mybutton1" ng-click="printbarcodeLabel(tableSkuData)">
                                        Print Label
                                    </a>
                                </span>
                        </div>
                    </td>

                    <td colspan="3">
                        <ul ng-if="trialsLength[$index]>= 4" class="progress-indicator nocenter stacked"
                            style="list-style: none;">
                            <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                            style="width: 20px;height: 20px;"/>

                            <label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[$index][0]}}</label></span>
                            </li>
                            <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                            style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[$index][1]}}</label></span>
                            </li>
                            <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                            style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px">{{fullTrialsArray[$index][2]}}</label></span>
                            </li>
                            <li class="completed"><span class="bubble1"><img src="images/svg/current_icon.svg"
                                                                             style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px;color:black">{{fullTrialsArray[$index][3]}}</label></span>
                            </li>
                        </ul>
                        <ul ng-if="trialsLength[$index] == 1" class="progress-indicator nocenter stacked"
                            style="list-style: none;">
                            <li><span><img src="images/svg/current_icon.svg" style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[$index][0]}}</label></span>
                            </li>
                        </ul>
                        <ul ng-if="trialsLength[$index] == 2" class="progress-indicator nocenter stacked"
                            style="list-style: none;">
                            <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                            style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px">{{fullTrialsArray[$index][0]}}</label></span>
                            </li>
                            <li><span><img src="images/svg/current_icon.svg" style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[$index][1]}}</label></span>
                            </li>
                        </ul>
                        <ul ng-if="trialsLength[$index] == 3" class="progress-indicator nocenter stacked"
                            style="list-style: none;">
                            <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                            style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px">{{fullTrialsArray[$index][0]}}</label></span>
                            </li>
                            <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                            style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px">{{fullTrialsArray[$index][1]}}</label></span>
                            </li>
                            <li><span><img src="images/svg/current_icon.svg" style="width: 20px;height: 20px;"/><label
                                    style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[$index][2]}}</label></span>
                            </li>
                        </ul>
                    </td>

                    <td colspan="1">
                        <span ng-if="tableSkuData.tablePurchaseOrderSkuStateType.idtablePurchaseOrderSkuStateTypeId == 9 || tableSkuData.tablePurchaseOrderSkuStateType.idtablePurchaseOrderSkuStateTypeId == 10">
                            <span class="item-content-heading">GRN Details</span>
                            <span style="display: block;text-align: right">
                            Total Quantity<br>
                            Good Quantity<br>
                            Bad Quantity<br>
                            Date<br>
                            </span>
                        </span>
                    </td>
                    <td colspan="1">

                    <span ng-if="tableSkuData.tablePurchaseOrderSkuStateType.idtablePurchaseOrderSkuStateTypeId == 9 || tableSkuData.tablePurchaseOrderSkuStateType.idtablePurchaseOrderSkuStateTypeId == 10">
                        <span class="item-content-heading">&nbsp; </span>
                        :&nbsp;{{tableSkuData.tableGrns[0].tableGrnTotalQty}} <br>
                        :&nbsp;{{tableSkuData.tableGrns[0].tableGrnGoodQty}} <br>
                        :&nbsp;{{tableSkuData.tableGrns[0].tableGrnBadQty}} <br>
                        :&nbsp;{{tableSkuData.tableGrns[0].tableGrnDateTime | utcToLocalOrHyphen}} <br>
                    </span>
                    </td>
                    <td colspan="2">
                    <span class="pull-right infoimgBox"
                          ng-click="openInfoBox($event,tableSkuData.tablePurchaseOrderSkuStateTrails)"></span>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="full-width">
                <div class="col-md-6" ng-show="defaultTab == 'all'">
                    <p class="showingOrderLabel" ng-show="orderSize<allCount">Showing Orders {{start + 1}} to
                        {{orderSize}}
                        of {{allCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=allCount && allCount!=0">Showing Orders {{start +
                        1}}
                        to {{allCount}} of {{allCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="allCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-md-6" ng-show="defaultTab == 'new'">
                    <p class="showingOrderLabel" ng-show="orderSize<newCount">Showing Orders {{start + 1}} to
                        {{orderSize}}
                        of {{newCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=newCount && newCount!=0">Showing Orders {{start +
                        1}}
                        to {{newCount}} of {{newCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="newCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-md-6" ng-show="defaultTab == 'inprocess'">
                    <p class="showingOrderLabel" ng-show="orderSize<processCount">Showing Orders {{start + 1}} to
                        {{orderSize}} of {{processCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=processCount && processCount!=0">Showing Orders
                        {{start
                        + 1}} to {{processCount}} of {{processCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="processCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-md-6" ng-show="defaultTab == 'intransit'">
                    <p class="showingOrderLabel" ng-show="orderSize<shippingCount">Showing Orders {{start + 1}} to
                        {{orderSize}} of {{shippingCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=shippingCount && shippingCount!=0">Showing Orders
                        {{start + 1}} to {{shippingCount}} of {{shippingCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="shippingCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-md-6" ng-show="defaultTab == 'grn'">
                    <p class="showingOrderLabel" ng-show="orderSize<returnCount">Showing Orders {{start + 1}} to
                        {{orderSize}} of {{returnCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=returnCount && returnCount!=0">Showing Orders
                        {{start +
                        1}} to {{returnCount}} of {{returnCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="returnCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-md-6" ng-show="defaultTab == 'hold'">
                    <p class="showingOrderLabel" ng-show="orderSize<holdCount">Showing Orders {{start + 1}} to
                        {{orderSize}}
                        of {{holdCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=holdCount && holdCount!=0">Showing Orders {{start +
                        1}}
                        to {{holdCount}} of {{holdCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="holdCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-md-6" ng-show="defaultTab == 'cancelled'">
                    <p class="showingOrderLabel" ng-show="orderSize<cancelledCount">Showing Orders {{start + 1}} to
                        {{orderSize}} of {{cancelledCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=cancelledCount && cancelledCount!=0">Showing Orders
                        {{start + 1}} to {{cancelledCount}} of {{cancelledCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="cancelledCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-md-6" ng-show="defaultTab == 'delivered'">
                    <p class="showingOrderLabel" ng-show="orderSize<deliveredCount">Showing Orders {{start + 1}} to
                        {{orderSize}} of {{deliveredCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="orderSize>=deliveredCount && deliveredCount!=0">Showing Orders
                        {{start + 1}} to {{deliveredCount}} of {{deliveredCount}}
                    </p>

                    <p class="showingOrderLabel" ng-show="deliveredCount==0">No Orders Available
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                    <ul ng-if="vmPager.pages.length" class="pagination">
                        <li ng-show="vmPager.currentPage == 1" ng-class="{disabled:vmPager.currentPage == 1}">
                            <a>&lt;&lt; First</a>
                        </li>
                        <li ng-show="vmPager.currentPage > 1" ng-class="{disabled:vmPager.currentPage == 1}">
                            <a ng-click="listOfStatesCount(defaultTab,1)">&lt;&lt; First</a>
                        </li>
                        <li ng-show="vmPager.currentPage == 1" ng-class="{disabled:vmPager.currentPage == 1}">
                            <a>&lt; Previous</a>
                        </li>
                        <li ng-show="vmPager.currentPage > 1" ng-class="{enabled:vmPager.currentPage > 1}">
                            <a ng-click="listOfStatesCount(defaultTab,vmPager.currentPage - 1)">&lt; Previous</a>
                        </li>
                        <li ng-repeat="page in vmPager.pages" ng-class="{active:vmPager.currentPage == page}">
                            <a ng-click="listOfStatesCount(defaultTab,page)">{{page}}</a>
                        </li>
                        <li ng-show="vmPager.currentPage < vmPager.totalPages"
                            ng-class="{enabled:vmPager.currentPage > vmPager.totalPages}">
                            <a ng-click="listOfStatesCount(defaultTab,vmPager.currentPage + 1)">Next &gt;</a>
                        </li>
                        <li ng-show="vmPager.currentPage == vmPager.totalPages"
                            ng-class="{disabled:vmPager.currentPage == vmPager.totalPages}">
                            <a>Next &gt;</a>
                        </li>
                        <li ng-show="vmPager.currentPage < vmPager.totalPages"
                            ng-class="{disabled:vmPager.currentPage == vmPager.totalPages}">
                            <a ng-click="listOfStatesCount(defaultTab,vmPager.totalPages)">Last &gt;&gt;</a>
                        </li>
                        <li ng-show="vmPager.currentPage == vmPager.totalPages"
                            ng-class="{disabled:vmPager.currentPage == vmPager.totalPages}">
                            <a>Last &gt;&gt;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal fade" id="addOrderModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <form ng-submit="PoModal.$valid && saveSingleOrder()" name="PoModal" novalidate>
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;"
                                 height="100px">
                                <button type="button" class="close" data-dismiss="modal" ng-click="cancelSingleOrder()">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <p class="dialog-heading-p" id="myModalLabel">Add Purchase Order</p>
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-target="#tab1" data-toggle="tab" class="btn sharp"
                                                          ng-click="singleOrderTabMode()">Single Order</a></li>
                                    <li ng-if="singleOrderMode == 'add'"><a data-target="#tab2" data-toggle="tab"
                                                                            class="btn sharp"
                                                                            ng-click="bulkOrderTabMode()">Bulk Order</a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </form>
                </div>
            </div>





            <div class="modal fade" id="AddGrn" role="dialog" aria-labelledby="myModalLabelleded" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <form ng-submit="QuickGRN.$valid && SubmitGrn()" novalidate name="QuickGRN">
                            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;"
                                 height="100px">
                                <button type="button" class="close" data-dismiss="modal" ng-click="cancelSingleOrder()">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <p class="dialog-heading-p" id="myModalLabelleded">Add to GRN Order</p>

                            </div>
                            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px">
                                <div class="md-dialog-content">

                                    <!-- Product Search -->
                                    <div class="row">
                                        <div class="col-md-2 margin-top-5">
                                            <span class="semi-bold-text">Product</span>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="" ng-model="SkuDetails.ProductModel" name="skuid"
                                                   ng-disabled="SkuDisabled" class="darkgrey-bottom-border">
                                        </div>
                                        {{skuClientCode=singleorderData.productObj.originalObject.tableSkuClientSkuCode;""}}
                                        {{inventoryData.tableSku=singleorderData.productObj.originalObject;""}}
                                        {{skuShelfType=singleorderData.productObj.originalObject.tableSkuShelfLifeType.idtableSkuShelfLifeTypeId;""}}
                                    </div>

                                    <!-- SKU ID -->
                                    <div class="row row-margin-top">
                                        <div class="col-md-2 margin-top-5">
                                            <span class="semi-bold-text">SKU ID</span>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="skuClientCodeid" name="skuid"
                                                   ng-model="SkuDetails.skuClientCode"
                                                   ng-disabled="SkuDisabled" class="darkgrey-bottom-border">
                                        </div>
                                    </div>

                                    <hr/>

                                    <!-- Warehouse and Vendor -->
                                    <div class="row row-margin-top">
                                        <div class="col-md-2">
                                            <span class="semi-bold-text">Warehouse</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" id="skuWarehouseid" name="skuid"
                                                   ng-model="SkuDetails.warehouseDetails"
                                                   ng-disabled="SkuDisabled" class="darkgrey-bottom-border">
                                        </div>
                                        <div class="col-md-2">
                                            <span class="semi-bold-text">Vendor</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" id="skuVendorid" name="skuid"
                                                   ng-model="SkuDetails.vendorDetails"
                                                   ng-disabled="SkuDisabled" class="darkgrey-bottom-border">
                                        </div>
                                    </div>

                                    <!-- MRP and MSP -->
                                    <div class="row row-margin-top">
                                        <div class="col-md-2">
                                            <span class="semi-bold-text">MRP</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="darkgrey-bottom-border" placeholder="Max. Retail Price"
                                                   type="text"
                                                   price
                                                   id="mrp" name="mrp" required
                                                   ng-model="SkuDetails.tableSkuInventoryMaxRetailPrice"
                                                   ng-change="checkMspGrtMrp(inventoryData.tableSkuInventoryMaxRetailPrice,inventoryData.tableSkuInventoryMinSalePrice)"></input>

                                            <div class="error ng-hide" ng-show="QuickGRN.$submitted" aria-hidden="true">
                                                <small class="error-msg text-danger"
                                                       ng-show="QuickGRN.mrp.$error.required && QuickGRN.mrp.$pristine">
                                                    Actual Quantity is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="semi-bold-text">Min Sale Price</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="darkgrey-bottom-border" required placeholder="Min. Sale Price"
                                                   type="text"
                                                   price
                                                   id="msp" name="msp"
                                                   ng-model="SkuDetails.tableSkuInventoryMinSalePrice"
                                                   ng-change="checkMspGrtMrp(inventoryData.tableSkuInventoryMaxRetailPrice,inventoryData.tableSkuInventoryMinSalePrice)"></input>

                                            <div class="error ng-hide" ng-show="QuickGRN.$submitted" aria-hidden="true">
                                                <small class="error-msg text-danger"
                                                       ng-show="QuickGRN.msp.$error.required && QuickGRN.msp.$pristine">
                                                    Actual Quantity is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Available and Bad Quantity -->
                                    <div class="row row-margin-top">
                                        <div class="col-md-2">
                                            <span class="semi-bold-text">Expected Quantity</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="darkgrey-bottom-border" ng-disabled="SkuDisabled"
                                                   numbers-only type="text" min="0"
                                                   ng-model="SkuDetails.ExpectedCount">
                                        </div>
                                        <div class="col-md-2">
                                            <span class="semi-bold-text">Actual Quantity</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="darkgrey-bottom-border" name="availableGoods"
                                                   placeholder="Actual Quantity" required
                                                   type="number" min="0"
                                                   name="badQuality" ng-model="SkuDetails.ActualCount">

                                            <div class="error ng-hide" ng-show="QuickGRN.$submitted" aria-hidden="true">
                                                <small class="error-msg text-danger"
                                                       ng-show="QuickGRN.availableGoods.$error.required && QuickGRN.availableGoods.$pristine">
                                                    Actual Quantity is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-margin-top">
                                        <div class="col-md-2">
                                            <span class="semi-bold-text">QC Passed</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="darkgrey-bottom-border" name="goodQuality" required
                                                   placeholder="Quality Control Passed"
                                                   type="number" min="0"
                                                   ng-model="SkuDetails.QCCount">

                                            <div class="error ng-hide" ng-show="QuickGRN.$submitted" aria-hidden="true">
                                                <small class="error-msg text-danger"
                                                       ng-show="QuickGRN.goodQuality.$error.required && QuickGRN.goodQuality.$pristine">
                                                    QC passed is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="semi-bold-text">QC Failed</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="darkgrey-bottom-border" placeholder="Quality Control Failed"
                                                   required  type="number" min="0"
                                                   name="badQuality" ng-model="SkuDetails.QCfailed">

                                            <div class="error ng-hide" ng-show="QuickGRN.$submitted" aria-hidden="true">
                                                <small class="error-msg text-danger"
                                                       ng-show="QuickGRN.badQuality.$error.required && QuickGRN.badQuality.$pristine">
                                                    QC Failed is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-margin-top">
                                        <div class="col-md-2">
                                            <span class="semi-bold-text">Blocked Quantity</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="darkgrey-bottom-border" name="blocked" required
                                                   placeholder="Blocked Quantity" ng-class="{submitted:validAvblQty}"
                                                   type="number" min="0"
                                                   ng-model="SkuDetails.BlockedCount">

                                            <div class="error ng-hide" ng-show="QuickGRN.$submitted" aria-hidden="true">
                                                <small class="error-msg text-danger"
                                                       ng-show="QuickGRN.blocked.$error.required && QuickGRN.blocked.$pristine">
                                                    Blocked Quantity is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="semi-bold-text">Shelflife Timespan</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="darkgrey-bottom-border" name="blocked" required
                                                   placeholder="Blocked Quantity" ng-class="{submitted:validAvblQty}"
                                                   type="number" min="0"
                                                   ng-model="SkuDetails.ShelfLife">

                                            <div class="error ng-hide" ng-show="QuickGRN.$submitted" aria-hidden="true">
                                                <small class="error-msg text-danger"
                                                       ng-show="QuickGRN.blocked.$error.required && QuickGRN.blocked.$pristine">
                                                    Blocked Quantity is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row row-margin-top">
                                        <hr style="float: left;width: 100%;">
                                    </div>
                                    <div class="row row-margin-top">
                                        <div class="col-md-2">
                                            <span class="semi-bold-text">Mfg. Date</span>
                                        </div>
                                        <div class="col-md-4">
                                            <md-datepicker ng-model="SkuDetails.OrderMfgDatetime" required
                                                           md-min-date="endminDate" md-placeholder="Enter date"
                                                           name="StartDate"
                                                           ng-change="sendEndDate(SkuDetails.OrderMfgDatetime)"></md-datepicker>

                                        </div>

                                        <div class="col-md-2">
                                            <span class="semi-bold-text">Expiry Date</span>
                                        </div>
                                        <div class="col-md-4">
                                            <md-datepicker ng-model="SkuDetails.OrderExpiryDatetime" required
                                                           md-min-date="endminDate" md-placeholder="Enter date"
                                                           name="EndDate"
                                                           ng-change="sendEndDate(SkuDetails.OrderScheduledEndDatetime)"></md-datepicker>
                                            {{SkuDetails.OrderScheduledEndDatetime}}
                                            <div class="error ng-hide" ng-show="QuickGRN.$submitted" aria-hidden="true">
                                                <!--<small class="error-msg text-danger"-->
                                                <!--ng-show="QuickGRN.EndDate.$error.required && QuickGRN.EndDate.$pristine">-->
                                                <!--End Date is required.-->
                                                <!--</small>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">
                                <button type="button" class="cancel-btn" data-dismiss="modal">Cancel
                                </button>
                                <button type="submit" class="action-btn" ng-click="">Submit</button>
                            </div>

                    </form>
                    </div>
                </div>
            </div>

        </div>

        <div ng-include src="'po/editRemarksModal.html?version=1.0.0'"></div>

        <div ng-include src="'wops/OperationDialogBox/AddPoInvoiceDialog.html?version=1.0.0'"></div>
        <style>
            .mg-btm{
                margin-bottom: 10px;
            }
            .tool-tip-text{
                top:15px !important;
            }
        </style>


