<script type="text/ng-template" id="shippingNumber.tmpl.html" >
    <md-dialog aria-label="Cancel Order Item" style="width: 800px; position: relative;">

            <md-toolbar style="background-color: #F2F7F8;">
                <div class="md-toolbar-tools">
                    <p style="font-size: 20px;font-weight: 600;color: #30373B;">View Shipping Labels</p>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancelshippingNumberDialog()">
                        <md-icon md-svg-src="images/svg/cancel.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content style="overflow: hidden;">
                <div class="full-width" style="margin-top: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="list-inline">
                            <li ng-repeat="list in shippingNumberList" class="shippingList">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <h4>{{list.creationDate}}</h4>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-click="DownloadShippingNumberLabel(list)">
                                    <h4 class="date-font-color"><span
                                            class="fa fa-download"></span>
                                        &nbsp;&nbsp;<span>{{list.shipmentNumber}}</span></h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </md-dialog-content>
            <!-- {{customersData}} -->
            <md-dialog-actions style="background-color: #30373B; min-height: 60px;" layout="row">
                <span flex></span>
                <button type="button" class="cancel-btn" ng-click="cancelshippingNumberDialog()">Cancel
                </button>
            </md-dialog-actions>

    </md-dialog>
</script>


<script type="text/ng-template" id="packingNumber.tmpl.html" ng-controller="orderController">
    <md-dialog aria-label="Cancel Order Item" style="width: 800px; position: relative;">

            <md-toolbar style="background-color: #F2F7F8;">
                <div class="md-toolbar-tools">
                    <p style="font-size: 20px;font-weight: 600;color: #30373B;">View Packing Labels</p>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancelshippingNumberDialog()">
                        <md-icon md-svg-src="images/svg/cancel.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content style="overflow: hidden;">
                <div class="full-width" style="margin-top: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="list-inline">
                            <li ng-repeat="list in shippingNumberList" class="shippingList">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <h4>{{list.creationDate}}</h4>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-click="DownloadPackingNumberLabel(list)">
                                    <h4 class="date-font-color"><span
                                            class="fa fa-download"></span>
                                        &nbsp;&nbsp;<span>{{list.shipmentNumber}}</span></h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </md-dialog-content>

            <md-dialog-actions style="background-color: #30373B; min-height: 60px;" layout="row">
                <span flex></span>
                <button type="button" class="cancel-btn" ng-click="cancelshippingNumberDialog()">Cancel
                </button>

            </md-dialog-actions>

    </md-dialog>
</script>

<style>
    .shippingList{
        width: 100%;padding: 3px;background:#f5f5f5;margin-bottom: 5px;cursor:pointer;
    }
</style>