<script type="text/ng-template" id="splitOrderSkubyquantity.tmpl.html" >
    <md-dialog aria-label="Cancel Order Item" style="width: 800px; position: relative;" ng-cloak>
        <form>
            <md-toolbar style="background-color: #F2F7F8;">
                <div class="md-toolbar-tools">
                    <p style="font-size: 20px;font-weight: 600;color: #30373B;">Split Order</p>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancelWarehouseSelection()">
                        <md-icon md-svg-src="images/svg/cancel.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
						<div class="row row-margin-top">
                                    <div class="col-md-2 margin-top-5">
                                        <span class="semi-bold-text">Quantity</span>
                                    </div><div class="col-md-8">				
				
                      <input
                              only-integer
                              prevent-typing-greater
                              max = "999999999"
                              type="text"
                              style="width: 100%;padding: 12px 20px;margin: 8px 0; border: 2px solid grey; box-sizing: border-box;"
                              tabindex="3" ng-model="genericData.quantity" name="qunatity"
                            class="form-control darkgrey-bottom-border-number" placeholder="Enter SKU quantity" required></div>
                                    
                </div>
                    <span class="" style="font-size: 14px; margin-left: 40px">
											<md-checkbox ng-model="genericData.splitCost" aria-label="Enable"> </md-checkbox> Split cost</span>
                </div>
            </md-dialog-content>
            <!-- {{customersData}} -->
            <md-dialog-actions style="background-color: #30373B; min-height: 60px;" layout="row">
                <span flex></span>
                <button class="action-btn" ng-click="splitOrderBySkusByQuantity();">
                    Confirm Split
                </button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>