<script type="text/ng-template" id="dialogmastercustomer.tmpl.html">
    <md-dialog aria-label="Show SKUs" style="width: 800px;" ng-cloak>
        <form name="vendForm">
            <md-toolbar style="background-color: #F2F7F8;">
                <div class="md-toolbar-tools">
                    <p class="dialog-heading-p">List of Customers</p>
                <span flex></span>
				<md-button class="md-icon-button" ng-click="cancelmastersDialog()">
                        <md-icon md-svg-src="images/svg/cancel.svg" aria-label="Close dialog"></md-icon>
                </md-button>
                </div>
				
            </md-toolbar>
          
            <md-dialog-content>
                <div class="md-dialog-content">
                    <div class="tab-content">
                        <div class="tab-pane active container-fluid vendorTabHeight" id="tab1">
							<table id="productTable"
                                               class="table boldtable table-responsive table-bordered table-hover">
                                <thead class="data-grid-header">
                                    <tr>
                                        <th>&nbsp;&nbsp;Customer Name
                                        </th>
                                        <th style="text-align: center;">&nbsp;&nbsp;Customer No
                                        </th>
										<th style="text-align: center;">&nbsp;&nbsp;Customer Code
                                        </th>
										<th style="text-align: center;">&nbsp;&nbsp;Action
                                        </th>
                                        </tr>
                                </thead>
                                <tbody class="data-grid-data" data-ng-repeat="customer in genericData.customerListFiltered">
                                    <tr>
                                        <td>{{customer.tableCustomerFirstName}} {{customer.tableCustomerLastName}}</td>
                                        <td style="text-align: right;">
                                            {{customer.tableCustomerSystemNo}}
                                        </td>
                                        <td style="text-align: right;">
                                                    {{customer.tableCustomerClientCustomerCode}}
                                        </td>
                                        <td style="text-align: center; padding: 0;">
                                            <button type="button" style="margin-top:7px;" class="btn btn-sm btn-search-all" md-no-ink="false"
                                                        ng-click="selectCustomer(customer.idtableCustomerId, $event)" placeholder="Select"
                                                        >
                                                Select
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
						</div>
					</div>
				</div>
            </md-dialog-content>
            <!-- {{vendorsData}} -->
            <md-dialog-actions style="background-color: #30373B; min-height: 60px;" layout="row" >
                    <span flex></span>
                    <button type="button" class="cancel-btn" ng-click="cancelmastersDialog()">Cancel
                    </button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
