<div class="modal fade" id="addNewTaxClass" role="dialog"
     style="overflow:hidden;max-width:940px;margin:0 auto;width:100%;left:50px;z-index:1050;"
     aria-labelledby="addTaxClassDialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:100% !important;">

        <div class="modal-content">
            <!-- Modal Header -->

            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;"
                 height="100px">

                <button type="button" class="close" data-dismiss="modal" ng-click="cancelTaxClassModal()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

                <p class="dialog-heading-p">Tax Class</p>
            </div>

                <div class="modal-body" style="overflow-x: hidden;padding-top: 0px">
                    <div class="container-fluid">
                        <div class="row row-margin-top">
                            <div class="col-md-3 margin-top-5">
                                <span class="semi-bold-text">Tax Class Name <span style="color:red">*</span> </span>
                            </div>
                            <div class="col-md-8 margin-top-5">
                                <input capitalize-first type="text"
                                       placeholder="Enter Tax Class Name"
                                       class="form-control darkgrey-bottom-border"
                                       ng-model="taxData.tableTaxClassName">
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row row-margin-top">
                            <div class="col-md-3 margin-top-5">
                                <span class="semi-bold-text">Scope <span style="color:red">*</span> </span>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control add-single-order-select" ng-model="taxData.tableTaxClassScope" ng-options="option for option in taxScopes track by option">
                                    <option value="" disabled selected style="display: none;">Select
                                        Scope
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" ng-if="taxData.tableTaxClassScope == 'State'">
                        <div class="row row-margin-top">
                            <div class="col-md-3 margin-top-5">
                                <span class="semi-bold-text">Select State <span style="color:red">*</span> </span>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="taxData.tableState" ng-options="option.tableStateLongName for option in regionsStatesArray track by option.idtableStateId">
                                    <option value="" disabled selected style="display: none;">Select
                                        State
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row row-margin-top">
                            <div class="col-md-3 margin-top-5">
                                <span class="semi-bold-text">
                                    <span ng-if="taxData.tableTaxClassScope == 'State'">Intrastate</span>
                                    Tax Type <span style="color:red">*</span>
                                </span>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="taxData.tableTaxClassTaxType" ng-options="option for option in taxTypes track by option">
                                    <option value="" disabled selected style="display: none;">Select
                                        Tax Type
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row row-margin-top">
                            <div class="col-md-3 margin-top-5">
                                <span class="semi-bold-text">
                                    <span ng-if="taxData.tableTaxClassScope == 'State'">Intrastate</span>
                                    Tax %  <span style="color:red">*</span>
                                </span>
                            </div>
                            <div class="col-md-8">
                                <input type="text" percentage
                                       placeholder="Enter Tax % Value"
                                       class="form-control darkgrey-bottom-border"
                                       ng-model="taxData.tableTaxClassTaxValue">
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row row-margin-top">
                            <div class="col-md-3 margin-top-5">
                                <span class="semi-bold-text">
                                    <span ng-if="taxData.tableTaxClassScope == 'State'">Intrastate</span>
                                    Surcharge %
                                </span>
                            </div>
                            <div class="col-md-8">
                                <input type="text"
                                       percentage
                                       placeholder="Enter Surcharge %"
                                       class="form-control darkgrey-bottom-border"
                                       ng-model="taxData.tableTaxClassSurcharge">
                            </div>
                        </div>
                    </div>
                    <div class="full-width" ng-if="taxData.tableTaxClassScope == 'State'">

                        <div class="container-fluid">
                            <div class="row row-margin-top">
                                <div class="col-md-3 margin-top-5">
                                    <span class="semi-bold-text">Interstate Tax Type <span style="color:red">*</span> </span>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="taxData.tableTaxClassInterstateTaxType" ng-options="option for option in taxTypes track by option">
                                        <option value="" disabled selected style="display: none;">Select
                                            Tax Type
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row row-margin-top">
                                <div class="col-md-3 margin-top-5">
                                    <span class="semi-bold-text">Interstate tax % <span style="color:red">*</span> </span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text"
                                           percentage
                                           placeholder="Enter Interstate tax %"
                                           class="form-control darkgrey-bottom-border"
                                           ng-model="taxData.tableTaxClassInterstateTaxValue">
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row row-margin-top">
                                <div class="col-md-3 margin-top-5">
                                    <span class="semi-bold-text">Interstate Surcharge %</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text"
                                           percentage
                                           placeholder="Enter Interstate Surcharge %"
                                           class="form-control darkgrey-bottom-border"
                                           ng-model="taxData.tableTaxClassInterstateSurcharge">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">
                <button type="button" class="cancel-btn" ng-click="cancelTaxClassModal()">Cancel
                </button>
                <button ng-disabled="genericData.disableButton" type="button" class="action-btn" ng-if = "addModalMode == 'add'"
                        ng-click="AddTaxClass(taxData)">Add Class
                </button>
                <button ng-disabled="genericData.disableButton" type="button" class="action-btn" ng-if = "addModalMode == 'edit'"
                        ng-click="updateTaxClass(taxData)">Update Class
                </button>

            </div>
        </div>
    </div>
